@model UploadImageViewModel

<form asp-controller="Images2" asp-action="Upload" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label asp-for="File">Choose image</label>
        <input asp-for="File" class="form-control" />
        <span asp-validation-for="File" class="text-danger"></span>
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Upload</button>
</form>