@model CategoriesWithProducts.UI.Models.DTO.ProductDto

@{
	var categoryId = ViewBag.CategoryId;
}

<h1 class="mt-3">Delete Product</h1>

@if (Model is not null)
{
	<form method="post">

		<div class="m-3">
			<label class="form-label">Id</label>
			<input type="text" class="form-control" asp-for="Id" readonly />
		</div>

		<div class="m-3">
			<label class="form-label">Name</label>
			<input type="text" class="form-control" asp-for="Name" readonly />
		</div>

		<div class="m-3">
			<label class="form-label">TotalPrice</label>
			<input type="text" class="form-control" asp-for="Price" readonly />
		</div>

		<div class="m-3">
			<label class="form-label">ProductImageUrl</label>
			<input type="text" class="form-control" asp-for="ProductImageUrl" readonly />
		</div>

		<div class="m-3">
			<label class="form-label">CategoryId</label>
			<input type="text" class="form-control" asp-for="CategoryId" readonly />
		</div>

		<div class="mt-3">
			<button type="submit" class="btn btn-danger">Delete</button>
		</div>

		<div class="mt-3">
			<a href="https://localhost:7260/Product/Index/@Model.CategoryId" class="btn btn-secondary">Back to List</a>
		</div>

	</form>
}